<p></p>
<div>
  <form [formGroup]="recipeForm" (ngSubmit)="save()">

    <div class="form-group">
      <div for="title">Title</div>
      <input pInputText type="text" formControlName="title" name="title" class="ui-inputtext"/>
    </div>

    <div class="form-group">
      <div for="description">Description</div>
      <textarea pInputTextarea [rows]="5" formControlName="description" name="description" class="ui-inputtext"></textarea>
    </div>

    <div class="form-group">
      <div for="category">Category</div>
      <p-dropdown [options]="categoryOptions" formControlName="category" name="category" [styleClass]="'dd-width'"></p-dropdown>
    </div>

    <div class="form-group">
      <div for="effort">Effort</div>
      <p-dropdown [options]="effortOptions" formControlName="effort" name="effort" [styleClass]="'dd-width'"></p-dropdown>
    </div>

    <div class="form-group">
      <div for="tags">Tags</div>
      <p-multiSelect [options]="tagOptions" formControlName="tags" name="tags" optionLabel="label" [styleClass]="'dd-width'"></p-multiSelect>
    </div>

    <div name="image1" class="imagePreview">
      <img [src]="imageUrl1" style="max-width:640px;width:auto" *ngIf="imageUrl1 && imageUrl1 !== ''">
      <p-button  pRipple type="button" icon="pi pi-times" (onClick)="cancelPreview1($event)" class="p-button-rounded p-button-danger" *ngIf="imageUrl1 && imageUrl1 !== ''"></p-button>
      <input type="file" accept="image/*" (change)="showPreview1($event)" />
    </div>
    <div name="image2" class="imagePreview">
      <img [src]="imageUrl2" style="max-width:640px;width:auto" *ngIf="imageUrl2 && imageUrl2 !== ''" >
      <p-button  pRipple type="button" icon="pi pi-times" (onClick)="cancelPreview2($event)" class="p-button-rounded p-button-danger" *ngIf="imageUrl2 && imageUrl2 !== ''"></p-button>
      <input type="file" accept="image/*" (change)="showPreview2($event)" />
    </div>
    <div name="image3" class="imagePreview" >
      <img [src]="imageUrl3" style="max-width:640px;width:auto" *ngIf="imageUrl3 && imageUrl3 !== ''" >
      <p-button  pRipple type="button" icon="pi pi-times" (onClick)="cancelPreview3($event)" class="p-button-rounded p-button-danger" *ngIf="imageUrl3 && imageUrl3 !== ''"></p-button>
      <input type="file" accept="image/*" (change)="showPreview3($event)" />
    </div>

    <div *ngIf="!isNew()">
      <small style="float:right">recipe-id: {{ recipeId }}</small><br/>
      <small style="float:right">last updated: {{updatedAt}}</small>
    </div>

    <p-messages [(value)]="msgs"></p-messages>

    <div class="form-buttons" style="padding-bottom:2rem">
      <button sbbButton type="submit" [disabled]="!recipeForm.valid" *ngIf="!readonly">Save</button>
      <button sbbButton type="submit" [disabled]="!recipeForm.valid" (click)="cancel()" *ngIf="readonly">Cancel</button>
      <button sbbButton type="submit" [disabled]="!recipeForm.valid" (click)="cancel()" *ngIf="!readonly">Cancel</button>
    </div>

  </form>
</div>


