<p></p>
<div>
  <form [formGroup]="recipeForm" (ngSubmit)="save()">

    <div class="form-group">
      <div for="title">Title</div>
      <input pInputText type="text" formControlName="title" name="title" class="ui-inputtext"
             [attr.disabled]="readonly ? 'disabled' : null" />
    </div>

    <div class="form-group">
      <div for="description">Description</div>
      <textarea pInputTextarea [rows]="5" formControlName="description" name="description" class="ui-inputtext"
                [attr.disabled]="readonly ? 'disabled' : null"></textarea>
    </div>

    <div class="form-group">
      <div for="category">Category</div>
      <p-dropdown [options]="categoryOptions" formControlName="category" name="category"
                  [styleClass]="'dd-width'" [disabled]="readonly">
      </p-dropdown>
    </div>

    <div class="form-group">
      <div for="effort">Effort</div>
      <p-dropdown [options]="effortOptions" formControlName="effort" name="effort"
                  [styleClass]="'dd-width'" [disabled]="readonly">
      </p-dropdown>
    </div>

    <div class="form-group">
      <div for="tags">Tags</div>
      <p-multiSelect [options]="tagOptions" formControlName="tags" name="tags" optionLabel="label" [styleClass]="'dd-width'" [disabled]="readonly"></p-multiSelect>
    </div>

<!--
    <div name="image1" class="imagePreview">
      <img [src]="imageUrl1" *ngIf="imageUrl1 && imageUrl1 !== ''" >
      <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="showPreview1($event)"></p-fileUpload>
    </div>
-->

    <div name="image1" class="imagePreview">
      <img [src]="imageUrl1" style="max-width:640px;width:auto" *ngIf="imageUrl1 && imageUrl1 !== ''">
      <p-button  pRipple type="button" icon="pi pi-times" (onClick)="cancelPreview1($event)" class="p-button-rounded p-button-danger" *ngIf="imageUrl1 && imageUrl1 !== ''"></p-button>
      <input type="file" accept="image/*" (change)="showPreview1($event)" />
    </div>
    <div name="image2" class="imagePreview">
      <img [src]="imageUrl2" style="max-width:640px;width:auto" *ngIf="imageUrl2 && imageUrl2 !== ''" >
      <p-button  pRipple type="button" icon="pi pi-times" (onClick)="cancelPreview2($event)" class="p-button-rounded p-button-danger" *ngIf="imageUrl2 && imageUrl2 !== ''"></p-button>
      <input type="file" accept="image/*" (change)="showPreview2($event)" />
    </div>
    <div name="image3" class="imagePreview" >
      <img [src]="imageUrl3" style="max-width:640px;width:auto" *ngIf="imageUrl3 && imageUrl3 !== ''" >
      <p-button  pRipple type="button" icon="pi pi-times" (onClick)="cancelPreview3($event)" class="p-button-rounded p-button-danger" *ngIf="imageUrl3 && imageUrl3 !== ''"></p-button>
      <input type="file" accept="image/*" (change)="showPreview3($event)" />
    </div>

    <div *ngIf="!isNew()">
      <small>
        recipe-id: {{ recipeId }}<br/>
        created: {{createdAt}} - last updated: {{updatedAt}}
      </small>
    </div>

    <p-messages [(value)]="msgs"></p-messages>

    <div class="form-buttons" style="padding-bottom:2rem">
      <button pButton type="submit" [disabled]="!recipeForm.valid" style="margin-top: 1.0em;" class="ui-button-primary"
              label="Save" *ngIf="!readonly"></button>
      <button pButton type="button" style="margin-top: 1.0em;" class="ui-button-primary" (click)="cancel()"
              label="Back" *ngIf="readonly"></button>
      <button pButton type="button" style="margin-top: 1.0rem; margin-left: 0.4rem" class="ui-button-secondary"
              (click)="cancel()" label="Cancel" *ngIf="!readonly"></button>
    </div>

  </form>
</div>


