/* You can add global styles to this file, and also import other style files */

a {
  // $sbbColorRed: #eb0000;
  // $sbbColorRed125: #c60018;
  // $sbbColorRed150: #a20013;
  color: #a20013 !important;
}

.ui-inputtext {
  padding: .1em;
  width: 100%;
}

.dd-width {
  width: 100%;
}

.custom-file-upload {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.custom-file-upload-label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.recipe-image:hover {
  cursor: pointer;
}

.img-wrp {
  display: inline-block;
  position: relative;
  margin-bottom: 0.5em;
}

.button-with-margin {
  margin-right: 0.7em;
}
